@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css");
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/HSSantokki/HSSantokki.css");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --font-HSSantokki: "HSSantokki", "sans-serif";

  --breakpoint-desktop: 1024px;
  --breakpoint-tablet: 768px;

  --color-violet-600: #7c3aed;
  --color-violet-100: #ede9fe;
  --color-rose-500: #f43f5e;
  --color-lime-300: #bef264;
  --color-amber-800: #92400e;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NanumSquare", sans-serif;
}
